/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	/* background-image: url("image1.webp"); */
	background-color: black;
	color: #fac5b8;
	font-size: 1.25rem;
	overflow: hidden;
	height: 100vh;
	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	margin-top: 0.5rem;
	align-items: center;
	text-align: center;
}

#state1,
#state2,
#state3 {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	max-width: 70rem;
	margin-top: 5rem;
}
.instructions1 {
	/* border: 0.15px solid #73AD21;  */
	margin: 1rem 1rem 1rem 1rem;
}
.gamerName {
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.typeAnswer {
	position: fixed;
	bottom: 10%;
	width: 18.74rem;
	border: 0.15px solid #73ad21;
}
#imageDiv {
	max-width: 400px;
}

.buttonStyles {
	align-items: center;
	color: black;
	font-family: "Arial";
	font-size: large;
	width: 9.3rem;
	margin: 1rem 0 auto;
	padding: 0.6rem;
	border-radius: 1.8rem;
	border: 0.1rem solid black;
	box-shadow: none;
	text-align: center;
}
.buttonStyles:hover {
	background-color: #73ad21;
}

.answerBox {
	color: #73ad21;
}
.clock {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: white;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
.startButton {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: white;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
.startButton:hover {
	background-color: #73ad21;
}
.startButton:active {
	background-color: white;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.respond {
	margin-top: 2rem;
}
.answerButton {
	width: 100%;
	background-color: white;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
table {
	border-collapse: collapse;
	width: 100%;
}
tr,
td,
th {
	text-align: center;
	padding: 15px;
	border: 1px solid #73ad21;
	color: #73ad21;
}

.animations {
	/*display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between; */

	width: 150px;
	height: 150px;
	border-radius: 50%;
	transform: scaleX(5);
}

.planet {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	transform: scaleX(0.2);
}

.route {
	width: 100%;
	height: 100%;
	animation: rotate 12s infinite linear;
	position: absolute;
}
.planetContainer {
	animation: correct 12s infinite linear;
	width: 60px;
	height: 60px;
	position: absolute;
}
#secondPlanetContainer {
	left: 85px;
}
#thirdPlanetContainer {
	left: 42.5px;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes correct {
	0% {
		transform: rotateZ(360deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}
